<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/post.css">
  <script src="./js/posts.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
    <h6 class="u-text u-text-default u-text-1">Along Ariaria market, <span class="u-text-custom-color-1">aba</span></h6>
    <p id="dataContainer" class="u-text u-text-default u-text-2"></p>
    <img id="imageElement"> <!-- Use id="imageElement" instead of id="imageContainer" -->
  </div>

  <script>
    fetchData();
  </script>
</body>
</html>
